## <center>Analysis of my IT Career Sofar

In [3]:
# import all needed libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set Plots to be visible within
%matplotlib inline
sns.set()

In [4]:
data = pd.read_excel('Skill Log - Phani.xlsx')

In [5]:
data.head()

  Company Client Technology  Start   End  Skill Duration
0     IBM    IBM        JCL     NaN  NaN             NaN
1     NaN    NaN      COBOL     NaN  NaN             NaN
2     NaN    NaN       PL/1     NaN  NaN             NaN
3     NaN    NaN        DB2     NaN  NaN             NaN
4     NaN    NaN        IMS     NaN  NaN             NaN